footer {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    color: #fff;
    background-color: #338a5a;
    border-top: 2px solid #fff;
}